<!-- <ion-content style="background: #ffd161;">

<div>
  <div class="first">
    <img src="assets/imgs/icon.png" class="image">
  </div>
  <form [formGroup]="loginForm">
    <div class="temp">
      <span style="font-family: auto;
      font-size: x-large">Login</span>
      <ion-row style="height: 45px;">
        <ion-col col-2 style="background: #4a495b; text-align: center;">
          <ion-icon name="person" style="color: white; font-size: 43px;"></ion-icon>
        </ion-col>
        <ion-col col-10 style="background:white;">
          <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"></ion-input>
        </ion-col>
      </ion-row>
    </div>
    <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
      <p>{{'username required!' | translate}}</p>
    </ion-item>

    <div class="temp">
      <ion-row style="height: 45px;">
        <ion-col col-2 style="background: #4a495b; text-align: center;">
          <ion-icon name="lock" style="color: white; font-size: 43px;"></ion-icon>
        </ion-col>
        <ion-col col-8 style="background: white;">
          <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="{{'Password*' | translate}}"></ion-input>
          <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="{{'Password*' | translate}}"></ion-input>

        </ion-col>
        <ion-col col-2 style="background: white;">
          <button ion-button clear item-end (click)="toggleShowPassword()">
            <ion-icon style="font-size: 1em;" *ngIf="showPassword" name="eye" color="red"></ion-icon>
            <ion-icon style="font-size: 1em;" *ngIf="!showPassword" name="eye-off" color="red"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
    <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
      <p>{{'Password required!' | translate}}</p>
    </ion-item>
  </form>
  <div class="btnDiv" (tap)="userlogin()">
    <button ion-button class="btnLog" color="gpsc">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>


  <ion-footer>
    <ion-toolbar style="text-align: center;">
      <button class="last" (click)="gotosignuppage()">NEW USER? SIGN UP</button>
    </ion-toolbar>
  </ion-footer>
</div>

</ion-content> -->

<ion-content id=outer>
  <div class="warning">
    <!-- <div id=inner> -->
    <div class="logo">
      <img src="assets/imgs/icon.png">
    </div>
    <form [formGroup]="loginForm">
      <div class="temp">
        <ion-item class="logitem">
          <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"></ion-input>
        </ion-item>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p>{{'username required!' | translate}}</p>
      </ion-item>
      <div class="temp">
        <ion-item class="logitem">
          <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="{{'Password*' | translate}}"></ion-input>
          <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="{{'Password*' | translate}}"></ion-input>

          <button ion-button clear item-end (click)="toggleShowPassword()">
            <ion-icon style="font-size: 1.6em;" *ngIf="showPassword" name="eye" color="light"></ion-icon>
            <ion-icon style="font-size: 1.6em;" *ngIf="!showPassword" name="eye-off" color="light"></ion-icon>
          </button>
        </ion-item>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <div class="btnDiv">
      <button ion-button class="btnLog" color="gpsc" (tap)="userlogin()">{{'SIGN IN' | translate}}</button>
      <ion-row>
        <ion-col width-50 ion-text color="light" style="font-size: 1.1em;" (tap)="forgotPassFunc()">{{'Forgot Password' | translate}} ?</ion-col>
        <ion-col width-50 ion-text color="light" style="font-size: 1.1em;">{{'New user?' | translate}}&nbsp;&nbsp;
          <span style="color:#d80622;" (tap)="gotosignuppage()">{{'SIGN UP' | translate}}</span>
        </ion-col>
      </ion-row>
    </div>
    <!-- </div> -->
  </div>
</ion-content>
