<ion-header>
  <ion-navbar>
    <ion-title *ngIf="device">{{ device.Device_Name }}</ion-title>
    <ion-title *ngIf="!device">{{ "View History" | translate }}</ion-title>
    <ion-buttons end>
      <div *ngIf="hideplayback">
        <ion-icon
          color="light"
          name="rewind"
          style="font-size:19px;margin-top:11px;margin-right: 17px"
          (click)="inter('slow')"
        ></ion-icon>&nbsp;&nbsp;&nbsp;
        <ion-icon
          color="light"
          name="arrow-dropright-circle"
          style="font-size:24px;margin-top:10px;margin-right: 15px"
          class="play"
          *ngIf="!playing"
          (click)="Playback()"
        ></ion-icon>
        <ion-icon
          color="light"
          name="pause"
          style="font-size:24px;margin-top:10px;margin-right: 15px"
          class="pause"
          *ngIf="playing"
          (click)="Playback()"
        ></ion-icon>&nbsp;&nbsp;&nbsp;
        <ion-icon
          color="light"
          name="fastforward"
          style="font-size:19px;margin-top:11px;margin-right: 17px"
          (click)="inter('fast')"
        ></ion-icon>
      </div>
    </ion-buttons>
  </ion-navbar>
  <ion-item *ngIf="showDropDown">
    <ion-label>{{ SelectVehicle }}</ion-label>
    <select-searchable
      item-content
      [(ngModel)]="selectedVehicle"
      [items]="portstemp"
      itemValueField="Device_Name"
      itemTextField="Device_Name"
      [canSearch]="true"
      (onChange)="onChangedSelect(selectedVehicle)"
    >
    </select-searchable>
  </ion-item>
  <ion-row>
    <ion-col width-50 padding-left class="col1">
      <ion-avatar item-start class="avtar">
        <img src="assets/imgs/clock.svg" align="left" />
      </ion-avatar>
      <ion-label style="margin-top: 1px;">
        <span style="font-size: 11px">{{ "From Date" | translate }}</span>
        <ion-datetime
          displayFormat="DD/MM/YYYY hh:mm a"
          pickerFormat="DD/MM/YY hh:mm a"
          [(ngModel)]="datetimeStart"
          (ionChange)="changeformat(datetimeStart)"
          style="font-size: 10px;"
        ></ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-50 class="col1">
      <ion-avatar item-start class="avtar">
        <img src="assets/imgs/clock.svg" align="left" />
      </ion-avatar>
      <ion-label style="margin-top: 1px;">
        <span style="font-size: 11px">{{ "To Date" | translate }}</span>
        <ion-datetime
          displayFormat="DD/MM/YYYY hh:mm a"
          pickerFormat="DD/MM/YY hh:mm a"
          [(ngModel)]="datetimeEnd"
          (ionChange)="changeformat(datetimeEnd)"
          style="font-size: 10px;"
        ></ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col ion-text text-right padding-right>
      <ion-icon
        ios="ios-search"
        md="md-search"
        style="font-size:30px;"
        (tap)="btnClicked(datetimeStart, datetimeEnd)"
      >
      </ion-icon>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <div id="map_canvas">
    <ion-fab top right>
      <button ion-fab color="light" mini (click)="onClickMainMenu()">
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
          S
        </button>
        <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab top left>
      <button ion-fab color="light" mini>
        <ion-icon color="gpsc" name="arrow-round-forward"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="stoppages()" color="gpsc">
          P
        </button>
        <button ion-fab (click)="onIdle()" color="gpsc">
          I
        </button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab
      style="right: calc(10px + env(safe-area-inset-right)); margin-top: 68%"
      *ngIf="showZoom"
    >
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab
      style="right: calc(10px + env(safe-area-inset-right)); margin-top: 80%"
      *ngIf="showZoom"
    >
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>

<div *ngIf="showActionSheet" class="divPlan">
  <!-- <ion-bottom-drawer
    (click)="setDocHeight()"
    [(hidden)]="drawerHidden1"
    [minimumHeight]="minimumHeight"
    [dockedHeight]="dockedHeight"
    [bounceThreshold]="bounceThreshold"
    [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop"
  > -->
  <ion-bottom-drawer
    [(state)]="drawerState"
    [dockedHeight]="dockedHeight"
    [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop"
    [transition]="transition"
    [minimumHeight]="minimumHeight"
    (click)="setDocHeight()"
  >
    <div class="drawer-content">
      <ion-row style="margin-bottom:-10%;">
        <ion-col col-12 text-right>
          <ion-icon style="font-size: 1em; font-weight: bold;" name="close" (click)="closeDocker()"></ion-icon>
        </ion-col>
        <ion-col style="text-align:center;">
          <p
            style="font-size: 20px;color:black;text-align: center;"
            *ngIf="!durations"
          >
            N/A
          </p>
          <p
            style="font-size: 20px;color:black;text-align: center;"
            *ngIf="durations"
          >
            {{ durations }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: -6%;">
        <ion-col col-50>
          <p
            style="font-size: 13px;color:green;margin-left: 4%;"
            *ngIf="!arrTime"
          >
            <ion-icon
              name="time"
              width="55"
              height="55"
              style="margin-top: 9%;color: green;"
            ></ion-icon
            >&nbsp;&nbsp;N/A
          </p>
          <p
            style="font-size: 13px;color:green;margin-left: 4%;"
            *ngIf="arrTime"
          >
            <ion-icon
              name="time"
              width="55"
              height="55"
              style="margin-top: 9%;color:green;"
            ></ion-icon>
            &nbsp;&nbsp;{{ arrTime }}
          </p>
        </ion-col>
        <ion-col col-50>
          <p
            style="font-size: 13px;color:#ac0031;margin-left: 4%;"
            *ngIf="!depTime"
          >
            <ion-icon
              name="time"
              width="55"
              height="55"
              style="margin-top: 9%;color:#ac0031;"
            ></ion-icon
            >&nbsp;&nbsp;N/A
          </p>
          <p
            style="font-size: 13px;margin-left: 4%;color:#ac0031;"
            *ngIf="depTime"
          >
            <ion-icon
              name="time"
              width="55"
              height="55"
              style="margin-top: 9%;color: #ac0031"
            ></ion-icon>
            &nbsp;&nbsp;{{ depTime }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <p
          style="font-size: 13px; color:cornflowerblue; margin-left: 4%;"
          *ngIf="!address"
        >
          <ion-icon
            name="pin"
            width="55"
            height="55"
            style="margin-top: 6%"
          ></ion-icon>
          &nbsp;&nbsp;N/A
        </p>
        <p
          style="font-size: 13px; color:cornflowerblue; margin-left: 4%;"
          *ngIf="address"
        >
          <ion-icon
            name="pin"
            width="55"
            height="55"
            style="margin-top: 9%"
          ></ion-icon
          >&nbsp;&nbsp;{{ address }}
        </p>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>
<ion-footer class="footSty">
  <ion-row *ngIf="playing" style="background-color: #dfdfdf; padding: 0px !important;">
    <ion-col col-5 style="padding: 0px">
      <p style="color:black;font-size:14px; text-align:center;">
        <ion-icon name="time" style="color:#33cd5f;font-size:15px;"></ion-icon
        >&nbsp;
        <span *ngIf="updatetimedate">{{ updatetimedate }}&nbsp;</span>
        <span *ngIf="!updatetimedate">0:0&nbsp;</span>
      </p>
    </ion-col>

    <ion-col col-3 style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon name="speedometer" style="color:#cd4343"></ion-icon>&nbsp;
        <span *ngIf="speedMarker"
          >{{ speedMarker }} {{ "Km/hr" | translate }}</span
        >
        <span *ngIf="!speedMarker">0 {{ "Km/hr" | translate }}</span>
      </p>
    </ion-col>
    <ion-col col-4>
      <p style="color:black;font-size:14px;text-align:center;margin: 9px;">
        <ion-icon style="font-size:12px" name="custom-milestone"></ion-icon>&nbsp;
        <span *ngIf="cumu_distance"
          >{{ cumu_distance }} {{ "Kms" | translate }}</span
        >
        <span *ngIf="!cumu_distance">0 {{ "Kms" | translate }}</span>
      </p>
      
    </ion-col>
  </ion-row>

  <ion-toolbar>
    <ion-row no-padding>
      <ion-col
        width-50
        style="text-align: center; border-right: 1px solid white; padding: 0px !important"
      >
        <p style="color: white; margin:0px; padding:0px" *ngIf="data2">
          {{ data2.Distance }} {{ "Kms" | translate }}
        </p>
        <p style="color: white; margin:0px; padding:0px" *ngIf="!data2">
          0 {{ "Kms" | translate }}
        </p>
        <p style="color: white; margin:0px; padding:0px">
          {{ "Total" | translate }} {{ "Distance" | translate }}
        </p>
      </ion-col>
      <ion-col width-50 style="text-align: center; padding: 0px !important">
        <p style="color:#ffffff; margin:0px; padding:0px" *ngIf="data2">
          {{ data2.AverageSpeed }} ({{ "Km/hr" | translate }})
        </p>
        <p style="color:#ffffff; margin:0px; padding:0px" *ngIf="!data2">
          0 ({{ "Km/hr" | translate }})
        </p>
        <p style="color:#ffffff; margin:0px; padding:0px">
          {{ "Average Speed" | translate }}
        </p></ion-col
      >
    </ion-row>
  </ion-toolbar>
</ion-footer>
